<div class="frame sm-shadow border">
  <h1 class="text-center">Registro de usuario</h1>
  <hr />
  <form id="form-registro">
    <!-- Fieldset de datos básicos del usuario -->
    <fieldset class="grid-x grid-margin-x" id="datos-basicos">
      <div class="cell">
        <legend>Datos personales</legend>
      </div>

      <div class="cell medium-6">
        <label for="nombres">Nombres</label>
        <input type="text" id="nombres" placeholder="Yhan Carlos" />
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" placeholder="Montaño Vargas" />
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="cedula">Cédula</label>
        <input type="text" id="cedula" placeholder="V29784799" />
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" placeholder="04141327382" />
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="yhan.carlos2001@gmail.com" />
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="sexo">Sexo</label>
        <select id="sexo">
          <option value="" selected disabled>Seleccione su sexo</option>
          <option value="m">Masculino</option>
          <option value="f">Femenino</option>
        </select>
        <span class="error"></span>
      </div>
    </fieldset>

    <!-- Fieldset de dirección -->
    <fieldset class="grid-x grid-margin-x" id="direccion">
      <div class="cell">
        <legend>Dirección</legend>
      </div>

      <div class="cell medium-6">
        <label for="estado">Estado</label>
        <select id="estado">
          <option value="" selected disabled>Seleccione un estado</option>
        </select>
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="municipio">Municipio</label>
        <select id="municipio">
          <option value="" selected disabled>Seleccione un estado</option>
        </select>
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="parroquia">Parroquia</label>
        <select id="parroquia">
          <option value="" selected disabled>Seleccione un municipio</option>
        </select>
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="calle">Calle</label>
        <input type="text" id="calle" placeholder="Esq. Guayabal a Sordo" />
        <span class="error"></span>
      </div>

      <div class="cell medium-6">
        <label for="casa-edificio">Casa o edificio</label>
        <input type="text" id="casa-edificio" placeholder="Edif. Amanecer" />
        <span class="error"></span>
      </div>
    </fieldset>
    <button type="submit" class="cell button">Registrarse</button>
  </form>
</div>
