<div class="frame sm-shadow border">
  <form id="login" class="grid-x grid-margin-x" novalidate>
    <div class="cell">
      <label for="correo">Correo electrónico</label>
      <input
        type="email"
        id="correo"
        name="usuario"
        placeholder="yhan.carlos2001@gmail.com"
      />
      <span class="error"></span>
    </div>
    <div class="cell">
      <label for="clave">Contraseña</label>
      <input type="password" id="clave" name="clave" />
      <span class="error"></span>
    </div>
    <button type="submit" class="cell button">Iniciar sesión</button>
  </form>
</div>
