@import url("./forms.css");
@import url("./navbar.css");
@import url("./utilidades.css");
@import url("./tipografia.css");

:root {
  --dimmed: #cacaca;
  --text-dark: #13262f;
  --text-light: #fff;
  --bg-dark: #13262f;
  --bg-light: #efefef;
  --bg-lighter: #fff;
  --light-border: #cacaca;
  --bg-lighter: #fff;
  --text-error: #ae2725;
  --bg-error: #f1bdbc;
  --bg-success: #aaea99;
  --text-success: #305c1f;
  --border-radius: 0px;
  --primary-gradient: linear-gradient(#80b8cb, #448ca2);
  --primary-gradient-hover: linear-gradient(
    hsl(195, 52%, 65%),
    hsl(194, 51%, 45%)
  );
  --sm-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
}

body {
  background-color: var(--bg-light);
  color: var(--bg-dark);
  padding-bottom: 1rem;
}

thead td {
  text-align: center;
}
