.container {
  margin: auto;
  max-width: 800px;
  width: 100%;
}

.sm-shadow {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
}

.border {
  border: 1px solid var(--light-border);
}

.frame {
  background-color: var(--bg-lighter);
  border-radius: var(--border-radius);
  margin-top: 15px;
  padding: 14px 18px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: var(--bg-lighter);
  border: 1px solid var(--light-border);
  color: var(--text-dark);
  box-shadow: var(--sm-shadow);
  z-index: 999;
}

.toast.success {
  background-color: var(--bg-success);
  border: 1px solid var(--text-success);
  color: var(--text-success);
}

.toast.fail {
  background-color: var(--bg-error);
  border: 1px solid var(--text-error);
  color: var(--text-error);
}

.oculto {
  display: none;
}
