body {
  background-color: #efefef;
  max-width: 800px;
  margin: auto;
}

.calculadora {
  background-color: white;
  margin-top: 15px;
  padding: 30px;
}

.margin-0 {
  margin: 0 !important;
}

.marginl-0 {
  margin-left: 0 !important;
}

select:invalid {
  color: gray;
}

option {
  color: black;
}
