body {
  background-color: #efefef;
  max-width: 800px;
  margin: auto;
}

.container {
  background-color: white;
  margin-top: 15px;
  padding: 30px;
}

.margin-0 {
  margin: 0 !important;
}

.marginl-0 {
  margin-left: 0 !important;
}

select:invalid {
  color: gray;
}

option {
  color: black;
}

.navbar {
  background-color: #222;
  color: #fff;

  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-nav ul {
  list-style: none;

  margin: 0;

  display: flex;
  gap: 20px;
}

.navbar-nav a {
  color: #fff;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

form h2 {
  font-size: large;
  text-decoration: underline;
  text-align: center;
}
