<div class="frame sm-shadow border">
  <h1 class="text-center">Calculadora de costos de envío</h1>
  <hr />
  <form id="formCalc" class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <label for="peso">Peso del paquete</label>
      <div class="input-group">
        <input
          type="text"
          id="peso"
          name="peso"
          required
          pattern="\d+([\.]\d+)?"
          class="input-group-field text-right"
          placeholder="200.5"
        />
        <span class="input-group-label">gr</span>
      </div>
    </div>

    <!-- Dimensiones del paquete -->
    <div class="cell medium-6" id="dimensiones-paquete">
      <div class="grid-x grid-margin-x align-middle text-center">
        <div class="cell auto">
          <label for="largo">Largo</label>
          <input
            type="text"
            id="largo"
            name="largo"
            required
            pattern="\d+([\.]\d+)?"
            class="text-center"
            placeholder="20"
          />
        </div>
        <div class="cell auto">
          <label for="ancho">Ancho</label>
          <input
            type="text"
            id="ancho"
            name="ancho"
            required
            pattern="\d+([\.]\d+)?"
            class="text-center"
            placeholder="15"
          />
        </div>
        <div class="cell auto">
          <label for="alto">Alto</label>
          <input
            type="text"
            id="alto"
            name="alto"
            required
            pattern="\d+([\.]\d+)?"
            class="text-center"
            placeholder="10"
          />
        </div>
      </div>
    </div>

    <div class="cell medium-6">
      <label for="origen">Origen</label>
      <select id="select-origen" name="origen" required>
        <option value="" disabled selected>Selecciona una ubicación</option>
      </select>
    </div>

    <div class="cell medium-6">
      <label for="destino">Destino</label>
      <select id="select-destino" name="destino" required>
        <option value="" disabled selected>Selecciona una ubicación</option>
      </select>
    </div>

    <div class="cell medium-6">
      <label for="transporte">Transporte</label>
      <select id="select-transporte" name="transporte" required>
        <option value="" disabled selected>Selecciona un transporte</option>
      </select>
    </div>

    <!-- <div class="cell medium-6">
      <label for="ganancia">Ganancia del conductor</label>
      <div class="input-group">
        <input
          type="text"
          id="ganancia"
          name="ganancia"
          required
          pattern="\d+([\.]\d+)?"
          class="input-group-field text-right"
          placeholder="20"
        />
        <span class="input-group-label">%</span>
      </div>
    </div> -->

    <button class="cell button">Calcular</button>
  </form>
  <hr />

  <!-- Contenedores de los resultados de la calculadora -->
  <div id="resultado" style="display: none">
    <p id="precio-calculado"></p>
    <p id="distancia-recorrida"></p>
    <p id="tiempo-estimado"></p>
    <hr />
    <form id="formAgendar">
      <label for="fecha_entrega">¿Cuándo nos trae el paquete?</label>
      <input type="date" id="fecha_entrega" name="fecha_entrega" required />
      <label for="nota_adicional">Nota adicional</label>
      <input type="text" id="nota_adicional" name="nota_adicional" />
      <button class="cell button">Agendar envío</button>
    </form>
  </div>
</div>
